// _switcher.scss
// стили переключателя цветовых тем
@use "bootstrap" as boot;

.switcher-dropdown {
  display: flex;
  align-items: center;

  .icon {
    width: 1em;
    height: 1em;
  }

  @include boot.media-breakpoint-up(lg) {
    margin-bottom: 2px;
  }
}

.switcher-dropdown .btn-switcher {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: .375rem;
  border: 0;
  border-radius: .375rem;

  text-decoration: none;

  background-color: transparent;
  &::after {
    color: boot.$textcolor;
  }
  svg {
    color: boot.$textcolor;
  }
}

.switcher-dropdown .dropdown-menu {
  top: 100%;
  right: 0;
  left: auto;

  padding: .125rem;
  border-radius: .5rem;

  li + li {
    margin-top: .125rem;
  }

  .dropdown-item {
    border-radius: .375rem;
    color: boot.$darkcolor;
    &:active {
      background-color: boot.$accent;
    }
  }

  .active {
    font-weight: 700;
    color: boot.$lightcolor;
    background-color: boot.$accent;
    .icon {
      display: block !important; // stylelint-disable-line declaration-no-important
    }
  }
}

.switcher-dropdown .dropdown-menu *:focus-visible {
  border-radius: 4px;
  outline: 4px solid rgba(boot.$accent, .5) !important;
  box-shadow: none !important;
}

[data-bs-theme="dark"] {
  .switcher-dropdown .dropdown-menu .dropdown-item {
    color: boot.$lightcolor;
  }
}

.hidden {
  display: none !important;
}
