@font-face {
  font-family: "psinter";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Inter-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Inter-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Inter-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Inter-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Inter-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Inter-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Inter-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Inter-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-Black.woff2") format("woff2");
}

@font-face {
  font-family: "psinter";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Inter-BlackItalic.woff2") format("woff2");
}
